@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

/*@font-face {
    font-family: Josefin-Regular;
    src: url('../font/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: Josefin-Medium;
    src: url('../font/JosefinSans-Medium.ttf');
}*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(to top right, #222, #333);
    background-attachment: fixed;
    height: 100vh;
}

body {
    background: transparent;
    max-width: 90%;
    margin: 30px auto;
    font-family: Josefin-Regular;
}

header {
    text-align: center;
    margin: 0 0 30px 0;
    font-family: Josefin-Medium;
    line-height: 35px;
}

h1 {
    font-size: 1.5em;
    color: #eee;
}

.aColor {
    color: #0059ff;
}

.nColor {
    color: #02ec7f;
}

.sColor {
    color: #ff7b00;
}

main {
    background: #eee;
    padding: 20px 0;
    box-shadow: -1px 1px 5px black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

main > * {
    width: 90%;
    margin: 0 auto;
}

#errorBoxSmall {
    display: block;
}

#passwordUpdateSmall {
    display: block;
}

#errorBox {
    display: none;
}

#passwordUpdate {
    display: none;
}

.message {
    color: grey;
    height: 30px;
}

/*=============================
userApi & test not made visible 
in production mode
==============================*/
#userApi, #test {
    height: 0px;
    overflow: hidden;
}

form > * {
    width: 100%;
}

.passwordStrength {
    font-size: 0.9em;
    width: fit-content;
    margin: 0 0 0 auto;
}

.passwordStrength > * {
    display: inline-block;
    height: 10px;
    width: 10px;
}

#passwordCommentBoxSmall {
    height: unset;
    width: unset;
    display: inline-block;
}

#passwordCommentBox {
    display: none;
}

#colorBox_1, #colorBox_2, #colorBox_3 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#displayPasswordLength {
    font-size: 0.9em;
    margin: 5px 0 0 auto;
    width: fit-content;
}

input[type=text] {
    font-size: 1em;
    border: 1px solid #999;
    margin: 2px 0;
    padding: 5px;
}

input[type=text].outputField {
    margin: 0;
}

button {
    display: block;
    height: 30px;
    font-family: Josefin-medium;
    font-size: 1em;
    box-shadow: -1px 1px 3px grey;
    color: white;
}

#copyPasswordBtn {
    margin: 0 0 20px 0;
    border-bottom: 1px solid transparent;
}

.copyPasswordBtn {
    background: lightgrey;
}

#displayRatio {
    height: 13px;
    box-shadow: -1px 1px 3px grey, 1px -1px 3px grey;
}

#graphArea {
    height: 180px;
    margin: 30px 0;
    display: flex;
    align-items: flex-end;
    box-shadow: -5px 0 5px -5px grey;
    position: relative;
    border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -ms-border-radius: 0 0 0 5px;
    -o-border-radius: 0 0 0 5px;
}

#graphArea::before {
    content: "";
    position: absolute;
    box-shadow: 0 5px 5px -5px grey;
    height: 180px; 
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -ms-border-radius: 0 0 0 5px;
    -o-border-radius: 0 0 0 5px;
}

#aA, #nN, #sS {
    width: 25%;
    height: 0px;
    margin: 0 10px 0 10px;
    background: grey;
    color: black;
    border: 1px solid lightgrey;
    border-bottom: 0;
    position: relative;
    transition: height 0.25s ease-in-out;
    -webkit-transition: height 0.25s ease-in-out;
    -moz-transition: height 0.25s ease-in-out;
    -ms-transition: height 0.25s ease-in-out;
    -o-transition: height 0.25s ease-in-out;
}

#aA {
    background: #0059ff;
}
#nN {
    background: #02ec7f;
}
#sS {
    background: #ff7b00;
}

#aA::before {
    content: "aA";
}

#nN::before {
    content: "nN";
}

#sS::before {
    content: "sS";
}

#aA::before, #nN::before, #sS::before  {
    position: absolute;
    top: -18px;
}

#aA_percentage, #nN_percentage, #sS_percentage {
    position: absolute;
    top: 5px;
}


#approximateTotal {
    height: 20px;
    color: grey;
}

.collapseButton {
    margin: 30px auto 0 auto;
    width: 100%;
    height: 40px;
    background: #555;
    font-size: 1.1em;
    box-shadow: -1px 1px 3px black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.howToUseTheApp, .about {
    background: rgba(0, 0, 0, 0.1);
    color: #ddd;
    line-height: 1.7em;
    overflow: hidden;
}

.howToUseTheApp li {
    list-style-position: inside;
    list-style-type: square; 
}

.collapse {
    height: 0px;
    padding: 0;
}

.expand {
    height: auto;
    padding: 15px;
}

h3 {
    margin: 50px 0 0 0;
    color: #ddd;
    text-align: center;
    font-size: 1.1em;
}

.associatedWith {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin: 30px 0 0 0;
}
.associatedWith > img {
    max-width: 23.5%;
    height: auto;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-family: Josefin-medium;
    color: white;
}

footer > * {
    margin: 15px 0;
    font-size: 0.9em;
}

.grey {
    color: grey;
}

.black {
    color: black;
}

.darkgrey {
    background: #585858;
}

.lightgrey {
    background: lightgrey;
}

.weak {
    background: rgba(255, 0, 0, 0.4);
}

.fair {
    background: rgba(255, 0, 0, 0.7);
}

.strong {
    background: rgba(255, 0, 0, 1);
}



@media screen and (min-width: 470px) {

    #errorBox {
        display: block;
    }
    
    #passwordUpdate {
        display: block;
    }
    
    #errorBoxSmall {
        display: none;
    }
    
    #passwordUpdateSmall {
        display: none;
    }
    
    #passwordCommentBox {
        height: unset;
        width: unset;
        display: inline-block;
    }

    #passwordCommentBoxSmall {
        display: none;
    }

    h3 {
        font-size: 1.2em;
    }

    footer > * {
        font-size: 1em;
    } 
}


@media screen and (min-width: 500px) {
    body {
        max-width: 430px;
        margin: 50px auto;
    } 
    
    header {
        margin: 0 0 50px 0;
    }
    
    h1 {
        font-size: 1.7em;
    }

    .message {
        height: 40px;
    }   
}


@media screen and (min-width: 1000px) {
    body {
        max-width: 900px;
        margin: 65px auto;
    } 

    main {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    main > * {
        width:45%;
    }
    
    header {
        margin: 0 0 65px 0;
    }
    
    h1 {
        font-size: 1.9em;
    }

    .message {
        height: 40px;
    }

    .associatedWith > img {
        max-width: 100%;
    } 
}


